main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #95a5a6;
  --secondary: #2980b9;
  --tertiary: #55efc4;
  --quarternary: #2d3436;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--primary);
  /* color: var(--light); */
  font-family: 'Poiret One', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--quarternary);
}

header a {
  color: var(--primary);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav a {
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

footer {
  padding: 20px 30px;
  background-color: var(--quarternary);
  color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position:absolute;
  bottom:0;
  width:100%;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.main > h1 {
  text-align: right;
  border-right: 5px solid var(--tertiary);
  padding-right: 10px;
}

.main div {
  flex: 0 0 75%;
}

#me {
  margin-right: 8px;
  float: left;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
  background: var(--tertiary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

a {
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.navActive {
  color: var(--secondary);
}

/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: Helvetica, Arial, sans-serif;
}

section {
  padding: 30px;
}
/* general end */

/* header style start */
header {
  padding: 20px 30px;
  width: 100%;
  background-color: var(--quarternary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary);
}

header a {
  text-decoration: none;
  color: var(--primary);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background-color: var(--secondary);
  color: var(--tertiary);
  border-radius: 15px;
}
/* header style end */

/* main body style start */
.main {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.main > h2 {
  text-align: right;
  border-right: 5px solid var(--tertiary);
  padding-right: 10px;
}

.main div {
  flex: 0 0 75%;
}

.bio {
  /* display: flex; */
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 75%;
}

.flex-item {
  flex-basis: calc(50% - 10px);
  border: 5px solid var(--secondary);
  margin: 5px;
}

.flex-item:first-child {
  flex-basis: 100%;
  min-height: 250px;
}

/* main body style end */

/* footer style start */
footer {
  padding: 20px 30px;
  background-color: var(--quarternary);
  color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer h2 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
}

footer a {
  text-decoration: none;
  color: var(--tertiary);
}

footer ul {
  margin: 7px 0;
  list-style: none;
}
/* footer style end */

@media screen and (max-width: 981px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative; 
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      align-content: center;
  }

  header nav ul li a {
      font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
      width: 100%;
  }
}

@media screen and (max-width: 576px) {
  header, footer {
      flex-direction: column;
      align-items: center;
  }

  .main {
      flex-direction: column;
      align-items: center;
  }

  .main > h2 {
      flex: 0 0 15%;
      width: 100%;
      text-align: center;
      border-right: none;
      border-bottom: 5px solid var(--tertiary);
      margin-bottom: 5px;
      padding: 0 0 5px 0;
  }

  .flex-item {
      width: 100%;
  }

  #me {
      align-content: center;
  }
}

@media screen and (max-width: 476px) {
  .card {
      width: 100%;
  }
}
